[Unit]
Description=webcam-timelapse merge

[Timer]
#OnCalendar=*-*-* 12:00:00
OnCalendar=*-*-* 23:24:20
Persistent=true

[Install]
WantedBy=timers.target

